@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Style */
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/rect%3e%3cpath d='M1920 0L1865.94 0L1920 371.59z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1865.94 0L1920 371.59L1920 682.28L946.33 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M946.3299999999999 0L1920 682.28L1920 712.53L673.1699999999998 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M673.1699999999998 0L1920 712.53L1920 863.56L525.4899999999998 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L931.3 1080L0 759.9200000000001z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 759.9200000000001L931.3 1080L1339.08 1080L0 454.9800000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 454.98L1339.08 1080L1685.33 1080L0 234.46z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 234.46000000000004L1685.33 1080L1776.31 1080L0 117.75000000000004z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1047'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat !important;
  min-height: 100vh;
}

#root>.MuiContainer-root, #root>div>.MuiContainer-root {
  background: #ffffffDD;
  opacity: 0;
  animation-name: fade_in_container;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  box-shadow: 0px 0px 15px #0000007a;
  border-radius: 5px;
  padding-bottom: 10px;
}
table { 
  width: 100%; 
  border-collapse: collapse; 
  border-top: 2px solid #184883;
  border-bottom: 2px solid  #184883;
  margin-bottom: 20px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: rgba(0, 0, 0, 0.05); 
}
th { 
  color: white; 
  font-weight: 700 !important; 
}
td, th { 
  padding: 6px; 
  border: none;
  text-align: left; 
}

.MuiTableContainer-root {
  width: 100% !important;
  overflow-x: scroll;
}

.page-title {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300 !important;
  letter-spacing: 3px !important;
  font-size: 3em !important;
  border-bottom: none !important;
  font-family: 'Oswald' !important;
  animation-name: fade_in_title;
  animation-duration: 1s;
  position: relative;
}

.accomodation-item {
  border-radius: 5px;
  border-width: 3px !important;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out all;
  cursor: pointer;
  box-shadow: 0px 0px 15px #00000022;
  /* background: rgba(0, 69, 158, 1); */
}
.accomodation-item:hover {
  transform: scale(1.02);
}

.warning-active {
  animation-name: loop_warning;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes fade_in_container {
  0% {
    opacity: 0;
  }

  /* 50% {border-color: red;} */
  100% {
    opacity: 1;
  }
}

@keyframes fade_in_title {
  0% {
    margin-left: -40px;
    opacity: 0;
  }

  /* 50% {border-color: red;} */
  100% {
    opacity: 1;
  }
}

@keyframes loop_warning {
  0% {}

  50% {
    border-color: red;
  }

  100% {}
}